:root{
  --main-color: white;
  --font-family:system-ui;
  --section-bg: white;
  --bg-color:linear-gradient(rgba(247, 47, 184, 0.636), pink);
}

@media(prefers-color-scheme:dark){
  :root{
      --bg-color: linear-gradient(rgba(145, 29, 108, 0.636), pink);
      --section-bg: #574145;
      --main-color:#BEA5A9;
  }
}


/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

img,
picture,
figure {
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  max-inline-size: clamp(45ch, 66ch, 75ch);
}

/* GENERAL CSS */
body {
  font-family: var(--font-family);
  background-image: var(--bg-color),
    url("./assets/images/img-01.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

section {
  background-color: var(--section-bg);
  width: 70vw;
  padding: 2rem;
  margin: 2rem auto;
}

/* HEADER */

header,
footer {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  padding-block: 2rem;
}

h1,
header p,
header a,
footer,
footer a {
  color: var(--main-color);
}

nav ul,
footer ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* ABOUT ME */
.about {
  display: grid;
  gap: 1rem;
}

.about img {
  width: 100%;
}

/* PROJECTS
    Το projects-section αλλάζει layout αργότερα μέσω media queries
*/

.projects p {
  font-weight: bold;
}

/* WORK */

article p {
  padding-top: 1rem;
}

.full-length {
  max-inline-size: unset;
}

/* EDUCATION 
  Το education-section αλλάζει layout αργότερα μέσω media queries 
*/

/* LANGUAGE*/
.language {
  padding-block-start: 2rem;
  /*Το language-section αλλάζει layout αργότερα μέσω media queries */
}

/*CAROUSEL*/
.carousel {
  padding-top: 2rem;
}

.carousel figure img {
  width: 100%;
}

/*SOCIAL*/
.social {
  padding-block-start: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.social a {
  color: black;
  text-decoration: none;
}

.social a i {
  border: 1px solid black;
  border-radius: 100%;
  padding: 8px;
  margin-right: 10px;
}

/*FORM*/

form {
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
  gap: 1rem;
}

input,
textarea {
  padding: 1rem;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  max-inline-size: fit-content;
  background-image: linear-gradient(to right, #ffc0cb 30%, red);
}

/*FOOTER*/
footer {
  font-weight: bold;
}

footer img {
  width: 40px;
}

footer li {
  /* transform: scale(1.5); */
  scale: 1.5;
}

@media(min-width:425px) {

  .education,
  .language,
  .projects {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  .education article,
  .projects figure {
    grid-row: 2;
  }

}

@media (min-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

  .about h2 {
    grid-column: span 2;
  }

  .about img {
    grid-row: 2/4;
  }
}

@media(prefers-color-scheme:dark) {
  body {
    color: var(--main-color);
    background-image:var(--bg-color),
      url("./assets/images/img-01.jpg");
  }

  section {
    background-color: var(--section-bg);
  }

  input[type="submit"] {
    background-image: linear-gradient(to right, rgb(168, 133, 139) 30%, darkred);
  }

  .social a {
    color: #BEA5A9;
  }
}