/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.5;
}

img,
picture,
figure {
  max-width: 100%;
  display: block;
  height: auto;
}
p {
  max-inline-size: clamp(45ch, 66ch, 75ch);
}
/* GENERAL CSS */
body {
  font-family: system-ui;
  background-image: linear-gradient(rgba(247, 47, 184, 0.636), pink),
    url("./assets/images/img-01.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
section {
  background-color: white;
  width: 70vw;
  padding: 2rem;
  margin: 2rem auto;
}

/* HEADER */

header,footer {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  padding-block: 2rem;
}

h1,
header p,
header a,footer, footer a {
  color: white;
}

nav ul, footer ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* ABOUT ME */
.about {
  display: grid;
  gap: 1rem;
}

.about img {
  width: 100%;
}
/* PROJECTS */
.projects{
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.projects figure{
  grid-row: 2;
}

.projects p{
  font-weight: bold;
}

/* WORK */

article p{
  padding-top: 1rem;
}
.full-length{
  max-inline-size: unset;
}

/* EDUCATION */
.education{
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.education article{
  grid-row: 2;
}
/* LANGUAGE*/
.language{
  padding-block-start: 2rem;
  display: grid;
  grid-auto-flow: column;
}

/*CAROUSEL*/
.carousel{
  padding-top: 2rem;
}
.carousel figure img{
  width: 100%;
}

/*SOCIAL*/
.social{
    padding-block-start: 2rem;
    display: flex;
    gap: 3rem;

}

.social a{color: black;text-decoration: none;}

.social a i{
  border: 1px solid black;
  border-radius: 100%;
  padding: 8px;
  margin-right: 10px;
}

/*FORM*/

form{
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
  gap: 1rem;
}
input,textarea{
  padding: 1rem;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

input[type="submit"]{
  max-inline-size: fit-content;
  background-image: linear-gradient(to right,pink 30%,red);
}

/*FOOTER*/
footer{
font-weight: bold;
}
footer img{width: 40px;}
footer li{
  /* transform: scale(1.5); */
  scale: 1.5;
}


@media (min-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1.5fr;
    align-items: center; 
     
  }
 
  .about h2{
    grid-column: span 2;
  }
  .about img {
    grid-row: 2/4;
  }
}
